.data-table {
  width: 90vw;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 3rem auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 5px 8px gray;
}

.data-table th,
.data-table td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

.data-table th {
  background-color: #f4f4f4;
  text-align: center;
}

.data-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
