<section
  class="relative h-[85vh] bg-[url(https://images.unsplash.com/photo-1604014237800-1c9102c219da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)] bg-cover bg-center bg-no-repeat">
  <div
    class="absolute inset-0 bg-gray-900/75 sm:bg-transparent sm:from-gray-900/95 sm:to-gray-900/25 sm:bg-gradient-to-r"></div>

  <div
    class="relative mx-auto max-w-screen px-4 py-32 sm:px-6 lg:flex lg:items-center lg:px-8">
    <div class="max-w-xl text-center sm:text-left">
      <h1 class="text-3xl font-extrabold text-white sm:text-5xl">
        Welcome to our
        <strong class="block font-extrabold text-rose-500"> Home Page </strong>
      </h1>
      <p class="text-xl mt-4 font-semibold text-white">
        Your journey begins here!
      </p>
      <p class="mt-2 max-w-lg text-white sm:text-lg/relaxed">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero. Sed cursus ante dapibus diam.
      </p>
    </div>
  </div>
</section>
