<!-- Blog Modal Component -->
<app-blog-modal (blogAdded)="onBlogAdded()"></app-blog-modal>

<!-- Blog Grid -->
<div class="grid grid-cols-[repeat(auto-fill,minmax(250px,1fr))] gap-4 p-4">
  @for (blog of blogsList; track $index) {
    <article
      class="overflow-hidden transition rounded-lg shadow-xl hover:shadow-2xl">
      <img
        alt="blog-image"
        [src]="blog.blog_image"
        class="object-cover w-full h-40" />

      <div class="p-4 bg-white sm:p-6">
        <h3 class="mt-0.5 text-lg text-gray-900">{{ blog.title }}</h3>

        <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
          {{ blog.description }}
        </p>
      </div>
    </article>
  } @empty {
    <div class="w-screen py-3 text-center text-gray-500 rounded-lg">
      <div
        class="p-5 mx-auto text-center border-2 border-gray-300 border-dashed rounded-lg w-96">
        No Cards to render!
      </div>
    </div>
  }
</div>
